:root {
  --btn-contact-me: #6c63ff;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  line-height: 128px;
}
h4 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}
img {
  display: block;
  margin: 0 auto;
  border: rgb(245, 241, 241) 35px solid;
}
col-sm-6 {
  display: block;
  margin: 10px 0;
  padding: 10px 10px;
}
footer .contact-box {
  background-color: rgb(245, 241, 241);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p,
p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.btn {
  font-family: "Poppins", sans-serif;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  color: white;
  background-color: var(--btn-contact-me);
}
.hero {
  background-color: rgb(245, 241, 241);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 27px;
  color: #272142;
}
.title {
  padding: 120px 60px;
}
.title h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 64px;
}
.title h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}
.title p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 400;
  color: rgba(39, 33, 66, 0.7);
  line-height: 30px;
}
.title a {
  color: var(--btn-contact-me);
  background-color: white;
  border: var(--btn-contact-me) 1px solid;
  font-family: "Poppins", sans-serif;
  padding: 18px 25px;
}
.title a:hover {
  background-color: var(--btn-contact-me);
  color: white;
}
.content {
  margin: 30px;
}
.content-container {
  padding: 100px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.content h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}
.content p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 30px;
}
.active {
  color: var(--btn-contact-me) !important;
}
.nav-item {
  padding: 0 10px;
}
.logo {
  background-color: #f5f1f1;
}
.footer-email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  display: block;
  text-align: center;
}
.footer-email-link:hover {
  color: var(--btn-contact-me);
  transition: all 100ms ease-in-out;
}
.icon {
  color: var(--btn-contact-me);
  font-size: 18px;
  border: rgb(245, 241, 241) 15px solid;
  border-radius: 50px;
  margin: 0 20px;
}
.icon:hover {
  color: #ffff;
  background-color: var(--btn-contact-me);
  border-color: var(--btn-contact-me);
}

nav a {
  color: #272142;
  font-family: "Poppins", sans-serif;
}
nav a:hover {
  color: var(--btn-contact-me) !important;
}
@media (max-width: 576px) {
  h1 {
    font-size: 44px;
    line-height: 60px;
  }
  h4 {
    font-size: 23px;
  }
  .title h2 {
    font-size: 32px;
    padding: 0;
  }

  .title {
    padding: 0;
  }
  .title a {
    display: block;
    margin: 0px 80px;
  }
  .content-container {
    padding: 30px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .btn {
    padding: 8px 12px;
  }

  .skills-container img {
    border: none;
  }
  footer .contact-box {
    padding: 30px;
  }
}
